canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    background-image: url(../resources/Wall.png);
    background-repeat: repeat;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden;
}

.ModalContext {
    display: none;
}


.back-bar {
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 5px;
    background: #323345;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: #c54;
    height: 25px;
    width: 100%;
    position: relative;
    transition: width .5s linear;
}

.mbar {
    background: rgb(68, 93, 204);
    height: 25px;
    width: 100%;
    position: relative;
    transition: width .5s linear;
}

.playerBars {
    overflow: hidden;
    position: fixed;
    width: 50%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playerBars li {
    display: inline-block;
    width: 49%;
}

.hpCount {
    position: fixed;
    left: 25%;
    margin-top: 2.5px;
    color: white;
}

.manaCount {
    position: fixed;
    left: 72.3%;
    margin-top: 2.5px;
    color: white;
}